/ProcessingSketchTemplate/nbproject/private/
/ProcessingSketchTemplate/build/
/ProcessingFileTemplates/nbproject/private/
/ProcessingFileTemplates/build/
/processing-template/build/
/processing-template/dist/
/ProcessingTools/nbproject/private/
/ProcessingTools/build/
/ContributionsManager/nbproject/private/
/ProcessingLibraryManager/nbproject/private/
/ProcessingLibraryManager/build/
/ProcessingTools/ProcessingLibs/build/
/ProcessingTools/ProcessingLibs/nbproject/private/
/ProcessingLibs/nbproject/private/
/ProcessingLibs/build/
/ProcessingLibraryManager/dist/
/ProcessingTools/module1/nbproject/private/
/ProcessingTools/ProcessingProjectType/build/
/ProcessingTools/ProcessingProjectType/nbproject/private/
/ProcessingLibManagementApplication/nbproject/private/
/ProcessingLibManagementApplication/build/
/ProcessingLibManagementApplication/dist/