/ProcessingSketchTemplate/nbproject/private/
/ProcessingSketchTemplate/build/
/ProcessingSketchTemplate/dist/
/ProcessingFileTemplates/nbproject/private/
/ProcessingFileTemplates/build/
/ProcessingFileTemplates/dist/
/processing-template/build/
/processing-template/dist/
/ProcessingTools/nbproject/private/
/ProcessingTools/build/
/ProcessingTools/dist/
/ContributionsManager/nbproject/private/
/ProcessingContribsWizard/nbproject/private/
/ProcessingContribsWizard/build/
/ProcessingContribsWizard/dist/
/ProcessingTools/ProcessingLibs/build/
/ProcessingTools/ProcessingLibs/dist/
/ProcessingTools/ProcessingLibs/nbproject/private/
/ProcessingLibs/nbproject/private/
/ProcessingLibs/build/
/ProcessingLibs/dist/
/ProcessingTools/ProcessingProjectType/build/
/ProcessingTools/ProcessingProjectType/nbproject/private/
/ProcessingTools/ProcessingContribsWizard/build/
/ProcessingTools/ProcessingContribsWizard/nbproject/private/